@charset "utf-8";
ul,li{list-style: none}
div,ul,li{padding: 0; margin: 0;}

/** 通用样式表 */

/** 去除Tree的自带图标 */
.tree-icon {width: 0px;}

/** 按钮样式 */
.btn{
    display: inline-block;
    margin-left: 10px;
    background: #5973c7;
    color: #fff;
    border-radius: 4px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 14px;
    text-decoration: none;
    font-family: "微软雅黑";
}

.btn-red{
    background-color: red;
}
.btn-blue{
    background-color:#35b8e0;
}

/************************************主要列表，Tool样式 ********************************/
.main-tool{height:auto;overflow: hidden;padding-bottom: 5px;}
.main-tool h1{color: #777; background: #fbfbfb; line-height:40px; border-bottom: 1px solid #ebebeb; text-indent: 27px; font-size: 14px;margin-top: 0px}/**标题样式*/
.main-tool .tool-remark{margin-left:27px; margin-right:20px; padding: 8px 35px 8px 14px;margin-bottom: 10px;text-shadow: 0 1px 0 rgba(255,255,255,0.5);background-color: #fcf8e3;border: 1px solid #fbeed5;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color: #666;}
.main-tool .tool-btn{padding-left:27px}

/* 搜索条件表单样式 */
.gongn_p{background:#fff; border-bottom: 1px solid #e8e8e8; padding:12px 0; text-align: center;}
.gongn_p a{ margin: 0px 16px;}
.sgtz{border: 0px solid #e32600; overflow: hidden; padding-top: 12px;}
.sgtz li{padding:8px 0px 8px 0px; float:left; list-style: none; }
.sgtz_two{ width:468px; }
.sgtz_one{width:233px;}
.sgtz_one input{width:100px; }
.sgtz_two input{width:145px; }
.sgtz_one select{width:100px; }
.sgtz_two select{width:145px; }
.sgtz li label{ text-align: right;  width:100px; display: inline-block;}
.sgtz_atn{ margin:12px 0px 12px 5px;}

.sgtz_center{text-align: center;margin-top: 15px;}


/******************************* 新增修改表单标准样式 *******************************/
/* 给出4位汉字空间 */
.fm_s {border: 0px solid #e32600; overflow: hidden; padding-top: 12px;}
.fm_s li{padding:8px 0px 8px 0px; float:left; list-style: none; }
.fm_s li label { text-align: right;  width:120px; display: inline-block; font-weight: bold; font-size: 12px;}
/* 给出6位汉字空间 */
.fm_m {border: 0px solid #e32600; overflow: hidden; padding-top: 12px;}
.fm_m li{padding:8px 0px 8px 0px; float:left; list-style: none; }
.fm_m li label { text-align: right;  width:160px; display: inline-block; font-weight: bold; font-size: 12px;}
/* 给出8位汉字空间 */
.fm_l {border: 0px solid #e32600; overflow: hidden; padding-top: 12px;}
.fm_l li{padding:8px 0px 8px 0px; float:left; list-style: none; }
.fm_l li label { text-align: right;  width:200px; display: inline-block; font-weight: bold; font-size: 12px;}
/*一列一个Input*/
.fm_1l{width:100%;}
/*一列两个Input*/
.fm_2l{width:50%;}
/*一列三个Input*/
.fm_3l{width:33%;}
/*一列四个Input*/
.fm_4l{width:25%;}

.gd{color: green;font-weight: bold;}
.rd{color: red;font-weight: bold;}
.bd{color: blue;font-weight: bold;}
.grd{color: gray;font-weight: bold;}

/*********************** 通用表单INPUT样式 **********************/
input{outline:none;}
.vipt{
    font-size: 12px;
    margin: 0px;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 24px;
    line-height: 22px;
    width: 173px;
}
.vipt:focus{
    border-color: #bbbbbb;
    -moz-box-shadow: 0 0 3px 0 #D4D4D4;
    -webkit-box-shadow: 0 0 3px 0 #D4D4D4;
    box-shadow: 0 0 3px 0 #D4D4D4;
}

/*********************** 通用图片预览及裁剪器样式 **********************/

/**裁剪器样式**/
.jcrop-box{
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.jcrop-div{
    width:512px;/*控件宽度，因与动态生成的JCROP一致*/
    height:384px;/*控件高度，因与动态生成的JCROP一致*/
}
#preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 35px;
    left: 550px;
}
#preview-pane .preview-container {
    width: 120px;  /*截图预览宽度，因与动态生成的JCROP最小截图宽度一致*/
    height: 120px;  /*截图预览宽度，因与动态生成的JCROP最小截图高度一致*/
    overflow: hidden;
}

